beautifulsoup4
bs4
click
cloudpickle
contourpy
cycler
dask
fonttools
fsspec
h5py
importlib-metadata
importlib-resources
kiwisolver
locket
matplotlib
msgpack
msgpack-numpy
msgpack-python
numpy
packaging
pandas
partd
pillow
pyparsing
pyqtgraph
PySide6
python-dateutil
pytz
PyYAML
pyzmq
scipy
shiboken6
six
soupsieve
toolz
tqdm
typing-extensions
tzdata
zipp
